body{
    padding-top: 90px;
}

.heading{
    text-align: center;
    /* position: absolute; */
    top: 180px;
}

.flexParent{
    /* border: 1px solid black; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 100px; */
}

.flexChild{
    display: inline-block;
    width: 300px;
    height: 300px;
    /* border: 1px solid green; */
    margin: 0px;
    padding-top: 80px;
}

.content{
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    /* width: 500px; */
    /* line-height: 36px; */
}

.quote{
    font-family: Poppins;
    font-style: italic;
    font-weight: 300;
    font-size: 28px;
}

.names{
    text-align: center;
    position: relative;
    top: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #484848;
}

.logo{
    width: 250px;
    height: 250px;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.1);
}