.login{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%); 
  width: 850px;
  font-family: 'poppins';
}
.art{
    height: 500px;
    width: 250px;
    float:left;
}
.popup{
    height: 500px;
    width: 600px;
    background-color: white;
    display: inline-block;
    position: relative;
}

.title{
    font-size: 36px;
    font-weight: 500;
    color: black;
    margin: 0 auto;
    margin-top: 40px;
}

.logo{
    height: 100px;
    width: 100px;
    display: table;
    position: absolute;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.login-button{
    height: 40px;
    width: 450px;
    border: 4px solid #9A3FCB;
    font-size: 16px;
    font-weight: 500;

    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 64px;

  
}

.login-button:hover{
    background-color: #9A3FCB;
    color: white;
}

.tc{
    font-size: 12px;
    color: #999999;
    font-weight: 500;

  position: absolute;
    bottom: 40px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    display: flex;
  align-items: center;
  justify-content: center;
}

.sub-title{
    font-size: 12px;
    color: #999999;
    font-weight: 500;
    display: table;
  margin: 0 auto;
}