@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins';
}

.footer {
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    
 }

 

 .tag-line{
      text-align: center;
     font-family: 'chivo';
     margin-bottom: 28px;
     
 }

/* need to be made responsive by media query*/
.about-legal{
    position: absolute;
    right: 8%;
}
.terms-legal{
    position: absolute;
    right: 3%;
}

input[type=text] {
    border: 4px solid #9A3FCB;border-right: 0px;
    width: 740px;
    height:60px;
    float:left;
  }

.button{
    border: 4px solid #9a3fcb;
    height: 60px;
    width: 60px;
    background-color: #9a3fcb;
}
.fa-search{
    color: white;
}

.search-bar{
  position: absolute; 
  top: 35%;
  left: 0; 
  right: 0; 
  margin:auto;
  width: 800px
}

.search-hint{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #999999;
}
 
.footer{
    box-shadow: 20px 20px 20px 20px grey;
}