.navbar{
    box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 80px;
    
}

.logo{
    font-family: 'cabin';
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    top: 50%;  
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}