@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

.App {
  margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins';
    /* height: 900px;
    width: 1600px; */
    /* background-color: black; */
}

a{
  text-decoration: none;
}

.Loader{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 50px;
}

body {
  background: #010101;
}

.divv {
  color: #9A3FCB;
  font-family: Monaco, monospace;
  font-size: 24px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 0;
  animation: 180ms infinite normal glitch;
}

span {
  animation: 1.5s infinite normal imleç;
}

::-moz-selection {
  background: #7021d2;
  color: #fff;
}

::selection {
  background: #7021d2;
  color: #fff;
}

@keyframes glitch {
  0% {
    opacity: 0;
    left: 0;
  }
  40%, 80% {
    opacity: 1;
    left: -2px;
  }
}
@keyframes imleç {
  0% {
    opacity: 0;
    left: 0;
  }
  40% {
    opacity: 0;
    left: -2px;
  }
  80% {
    opacity: 1;
    left: -2px;
  }
}