.tag-line{
    text-align: center;
   font-family: 'chivo';
   margin-bottom: 28px;
   
}

input[type=text] {
  border: 4px solid #9A3FCB;border-right: 0px;
  width: 740px;
  height: 56px;
  float:left;
}

.button{
  border: 4px solid #9a3fcb;
  height: 56px;
  width: 56px;
  background-color: #9a3fcb;
}

.fa-search{
  color: white;
}

.search-bar{
position: absolute; 
top: 35%;
left: 0; 
right: 0; 
margin:auto;
width: 800px
}

.search-hint{
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
}